.center{
    display: grid;
    justify-content: center;
    align-items: center;
}
.middle
{
    display: grid;
    justify-content: center;
    align-items: center;

}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Grid{
    margin-left: 15%;
}